.region-footer-first {

  h2 { display: none; }

  .field--name-field-slogan {
    font-family: 'Cinzel', serif;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
    text-align: center;
 }
}

.region-footer-third .field--name-field-title { margin-top: 30px; }

  .region-footer-second {	

    h2 { display: none; }

.field--name-field-contact-us {
  .field--name-field-icon img {
    filter: invert(100%);
    width: 20px;
    height: 20px;
  } 

  .field--name-field-icon { float: left; }

  .field--name-field-cta {
    a {
      padding-left: 15px;
      text-decoration: none;
      color: white;
      margin-top: 10px;
	 }

	.field--name-field-cta { display: inline-block; }		

  }
}

.footersecond {
  padding:30px;
  background-color: #313131;
}

.region-footer-second {
  max-width: 1200px;
  margin: 0 auto;
}

.region-footer-second .field--name-field-contact-us {
  display: flex;
  justify-content: space-between;
}

.region-footer-third {
  h2 { display: none; }
  .field--name-field-title{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 55px;
	}
  .field--name-field-link {
    a {
	  color: white;
	  text-decoration: none;
	}
  }
  .field--name-field-text {
    line-height: 20px;
    width: 500px;
    margin-top: 30px;
	}

  & {
	max-width: 1200px;
	margin: 0  auto;
	display: flex;
    justify-content: space-between;
  }
}

.container{
  color: white;
  background-color: black;
}

.region-first-footer .block-block-content {
  max-width: 1200px;
  margin: 0 auto;
}
.region-footer-second .field--name-field-contact-us {
  max-width: 1200px;
  margin: 0 auto;
} 
.region-footer-first {
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (min-width: 0px) and (max-width: 768px){

  .region-footer-second .field--name-field-contact-us{
    flex-direction: column;
    line-height: 3;
	}

  .region-footer-third {
    .field--name-field-text { width: 100%; }

    &: {
      padding:30px;
      flex-direction: column;
  }
}
  .region-footer-first .field--name-field-slogan { padding: 0 15px; }
}