.region-header {
  h2{ display: none; }

  .field--name-field-logo img {
    height: auto;
	width: 200px;
	}

  .paragraph--type--icon-and-number {
   	margin-top: 20px;
   	display: flex;
	}

  .field--name-field-number-in-header {
	font-size: 20px;
	color: #42687C;
	margin-left:auto;

	&:before {
	  content: '' ;
	  display: inline-block;
	  width: 32px;
	  height: 32px;
	  background-image: url(../images/phone.png);
	  vertical-align: middle;
	  margin-right: 15px;
  }
}
.paragraph--type--info-in-header {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin-top: 20px;
}
.field--name-field-info-one:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../images/germany.png);
  vertical-align: middle;
  margin-right: 10px;
}
.field--name-field-info-two:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../images/dollar.png);
  vertical-align: middle;
  margin-right: 10px;
}
.field--name-field-info-three:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../images/cap.png);
  vertical-align: middle;
  margin-right: 10px;
  }
}

.region-header {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .region-header {

  .field--name-field-logo img {
    padding: 15px;
    margin-top: 20px;
    width:250px ;
    height:150px;
	}
  .paragraph--type--info-in-header {		
	line-height: 2.5;
	width: 100%;
	flex-direction: column;
	} 
  .field--name-field-number-in-header {
	padding: 15px;
	margin-left: 0;
    }
  .field--name-field-info-in-header { padding: 15px; }
  & {
    flex-direction: column;
	width:100%;
    }
  }
}