.paragraph--type---featured-items { background-color: #F4F4F4; }

.field--name-field__featured-items- {
  .field--name-field-icon img {
    width: 60px ;
    height: 60px ;
  }
  .field--name-field-icon {
    margin-top: 15px;
  }
  .field--name-field-body {
	margin-top: 15px;
	display: inline-block;
	text-align: center;
	line-height: 24px;
  }
  .field--name-field-title {
	margin-top: 15px;
	color: red;
	text-align: center;
  }
  .field--name-field-cta {
	margin-bottom: 40px;
	margin-top: 30px;
	text-align: center;
  } 
  .field--name-field-cta a {
  	border-radius: 10px;
	padding:15px 20px;
	color: white;
	background-color: red;
	text-decoration: none;
  }
  & {
    justify-content: space-between;
    display: flex;
  }
}
.field--name-field__featured-items-  .field__item {
  width: 300px;
  text-align:center;
}
.field--name-field__featured-items- {
  max-width: 1200px;
  margin:0 auto;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .field--name-field__featured-items- {
    flex-direction: column;
    align-items: center;
  }
}