.region-primary-menu { background-color: black; }
.region-primary-menu nav ul {
  margin-bottom: 0;
  display: flex;
  list-style: none;
  position: relative;
  justify-content: space-between;
}
.region-primary-menu nav ul li  a {
  display: block;
  padding:15px 30px 15px 20px;
  color: white;
  text-decoration: none;

}

.region-primary-menu  .block-menu {
  max-width: 1200px;
  margin: 0 auto;
}


@media screen and (min-width: 0px) and (max-width: 768px) {
  .region-primary-menu {
    ul{
	  flex-direction: column;
	  align-items: center;
    }
  }
}