.field--name-field-service-column {
  .field__label {
    color: #808080;
    font-weight: normal;
    margin-bottom: 40px;
    font-size: 30px;
	font-family: 'Cinzel', serif;
  }
  .service {
     display: flex;
     justify-content: space-between;
  }
  .field--name-field-link {
    .field__item {
	  border-bottom: 1px solid #A9A9A9;
	  width: 300px;
	  a {
        transition: 0.5s color;
        color: #808080;
        text-decoration: none;
        line-height: 60px;
	  &::before {
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        background-image: url(../images/zara.png);
        padding-right: 10px;	
	  }

	  &:hover { color: red; }
      }
    }
  }
}
.paragraph--type--services{ 
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.field--name-field-service-column .field--name-field-link .field__item:last-child { border-bottom: 0; }	
@media screen and (min-width: 0px) and (max-width: 768px) {
  .paragraph--type--services {
    display: flex;
    justify-content: center;
  }
  .service {
	flex-direction: column;
	align-items: center;
  }
.field--name-field-service-column .field--name-field-link .field__item:last-child{ border-bottom: 1px solid #A9A9A9; }	
}
