.media--slick {
  width: 100%;
  height: 400px;
}
.media--slick img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
@media screen and (min-width: 0px) and (max-width: 768px) {
  .media--slick {
    width: auto;
  }
}
