.laveg_wrapper {
  height: 400px;
  object-fit: cover;
  background-size: 100%;
}
.paragraph--type--work-system {
  .field--name-field-title {
    font-size: 25px;
    font-family: 'Cinzel', serif;
    margin-bottom: 15px;
  }

  .field--name-field-body {
    width: 500px;
    line-height: 25px;
    margin-bottom: 35px;
  }

  .field--name-field-cta a {
    color: white;
    text-decoration: none;
    background-color: red;
    padding: 15px 30px;
    border-radius: 10px;
  }
}

.field--name-field-laveg-wraper {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


@media screen and (min-width: 0px) and (max-width: 768px) {
  .laveg_wrapper { background-size: cover; }
  .field--name-field-laveg-wraper {
    .field--name-field-body { width: auto; }
  }
  .paragraph--type--work-system{ padding:20px; }
}