@import 'header.scss';
@import 'menu_navigation.scss';
@import 'footer.scss';
@import 'slider.scss';
@import 'width.scss';
@import 'items.scss';
@import 'service.scss';
@import 'work_system.scss';
@import 'fonts.scss';
html , body { height: 100%; }
.node__content { min-height: 100%; }
.paragraph--type--welcome-area {
  overflow: hidden;
  margin-top: 50px;
  margin-bottom: 50px;
}
.paragraph--type--welcome-area img {
  margin-right:30px;
  width: 400px;
  height: 200px;
  float: left;
}
.paragraph--type--welcome-area .field--name-field-title {
  font-size: 30px;
  font-family: 'Cinzel', serif;
  margin-bottom: 20px;
  color: #808080;
}
.paragraph--type--welcome-area .field--name-field-body {
  line-height: 30px;
  color: #808080;
}

.paragraph--type--welcome-area {
  max-width: 1200px;
  margin: 0 auto; 
}


@media screen and (min-width: 0px) and (max-width: 768px) {
  .paragraph--type--welcome-area{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .paragraph--type--welcome-area .field--name-field-body { padding: 20px; }
  .paragraph--type--welcome-area {
    .field--name-field-icon img { width: 100%; }
  }
}