@import url("https://fonts.googleapis.com/css?family=Cinzel|Open+Sans+Condensed:300|Pacifico");
.region-header h2 {
  display: none; }
.region-header .field--name-field-logo img {
  height: auto;
  width: 200px; }
.region-header .paragraph--type--icon-and-number {
  margin-top: 20px;
  display: flex; }
.region-header .field--name-field-number-in-header {
  font-size: 20px;
  color: #42687C;
  margin-left: auto; }
  .region-header .field--name-field-number-in-header:before {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url(../images/phone.png);
    vertical-align: middle;
    margin-right: 15px; }
.region-header .paragraph--type--info-in-header {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin-top: 20px; }
.region-header .field--name-field-info-one:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../images/germany.png);
  vertical-align: middle;
  margin-right: 10px; }
.region-header .field--name-field-info-two:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../images/dollar.png);
  vertical-align: middle;
  margin-right: 10px; }
.region-header .field--name-field-info-three:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../images/cap.png);
  vertical-align: middle;
  margin-right: 10px; }

@media screen and (min-width: 0px) and (max-width: 768px) {
  .region-header {
    flex-direction: column;
    width: 100%; }
    .region-header .field--name-field-logo img {
      padding: 15px;
      margin-top: 20px;
      width: 250px;
      height: 150px; }
    .region-header .paragraph--type--info-in-header {
      line-height: 2.5;
      width: 100%;
      flex-direction: column; }
    .region-header .field--name-field-number-in-header {
      padding: 15px;
      margin-left: 0; }
    .region-header .field--name-field-info-in-header {
      padding: 15px; } }
#block-menu-2 h2, .node__meta {
  display: none; }

.region-primary-menu {
  background-color: black; }

.region-primary-menu nav ul {
  margin-bottom: 0;
  display: flex;
  list-style: none;
  position: relative;
  justify-content: space-between; }

.region-primary-menu nav ul li a {
  display: block;
  padding: 15px 30px 15px 20px;
  color: white;
  text-decoration: none; }

@media screen and (min-width: 0px) and (max-width: 768px) {
  .region-primary-menu ul {
    flex-direction: column;
    align-items: center; } }
.region-footer-first h2 {
  display: none; }
.region-footer-first .field--name-field-slogan {
  font-family: 'Cinzel', serif;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 30px;
  text-align: center; }

.region-footer-third .field--name-field-title {
  margin-top: 30px; }

.region-footer-second h2 {
  display: none; }
.region-footer-second .field--name-field-contact-us .field--name-field-icon img {
  filter: invert(100%);
  width: 20px;
  height: 20px; }
.region-footer-second .field--name-field-contact-us .field--name-field-icon {
  float: left; }
.region-footer-second .field--name-field-contact-us .field--name-field-cta a {
  padding-left: 15px;
  text-decoration: none;
  color: white;
  margin-top: 10px; }
.region-footer-second .field--name-field-contact-us .field--name-field-cta {
  display: inline-block; }

.footersecond {
  padding: 30px;
  background-color: #313131; }

.region-footer-second {
  max-width: 1200px;
  margin: 0 auto; }

.region-footer-second .field--name-field-contact-us {
  display: flex;
  justify-content: space-between; }

.region-footer-third h2 {
  display: none; }
.region-footer-third .field--name-field-title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 55px; }
.region-footer-third .field--name-field-link a {
  color: white;
  text-decoration: none; }
.region-footer-third .field--name-field-text {
  line-height: 20px;
  width: 500px;
  margin-top: 30px; }
.region-footer-third {
  max-width: 1200px;
  margin: 0  auto;
  display: flex;
  justify-content: space-between; }

.container {
  color: white;
  background-color: black; }

@media screen and (min-width: 0px) and (max-width: 768px) {
  .region-footer-second .field--name-field-contact-us {
    flex-direction: column;
    line-height: 3; }

  .region-footer-third {
    padding: 30px;
    flex-direction: column; }
    .region-footer-third .field--name-field-text {
      width: 100%; }

  .region-footer-first .field--name-field-slogan {
    padding: 0 15px; } }
.media--slick {
  width: 100%;
  height: 400px; }

.media--slick img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center; }

@media screen and (min-width: 0px) and (max-width: 768px) {
  .media--slick {
    width: auto; } }
.region-header {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto; }

.paragraph--type--welcome-area {
  max-width: 1200px;
  margin: 0 auto; }

.region-primary-menu .block-menu {
  max-width: 1200px;
  margin: 0 auto; }

.field--name-field-laveg-wraper {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.region-first-footer .block-block-content {
  max-width: 1200px;
  margin: 0 auto; }

.region-footer-second .field--name-field-contact-us {
  max-width: 1200px;
  margin: 0 auto; }

.region-footer-first {
  max-width: 1200px;
  margin: 0 auto; }

.field--name-field__featured-items- {
  max-width: 1200px;
  margin: 0 auto; }

.paragraph--type--services {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px; }

.paragraph--type---featured-items {
  background-color: #F4F4F4; }

.field--name-field__featured-items- {
  justify-content: space-between;
  display: flex; }

.field--name-field__featured-items- .field--name-field-icon img {
  width: 60px;
  height: 60px; }
.field--name-field__featured-items- .field--name-field-icon {
  margin-top: 15px; }
.field--name-field__featured-items- .field--name-field-body {
  margin-top: 15px;
  display: inline-block;
  text-align: center;
  line-height: 24px; }
.field--name-field__featured-items- .field--name-field-title {
  margin-top: 15px;
  color: red;
  text-align: center; }
.field--name-field__featured-items- .field--name-field-cta {
  margin-bottom: 40px;
  margin-top: 30px;
  text-align: center; }
.field--name-field__featured-items- .field--name-field-cta a {
  border-radius: 10px;
  padding: 15px 20px;
  color: white;
  background-color: red;
  text-decoration: none; }

.field--name-field__featured-items- .field__item {
  width: 300px;
  text-align: center; }

@media screen and (min-width: 0px) and (max-width: 768px) {
  .field--name-field__featured-items- {
    flex-direction: column;
    align-items: center; } }
.field--name-field-service-column .field__label {
  color: #808080;
  font-weight: normal;
  margin-bottom: 40px;
  font-size: 30px;
  font-family: 'Cinzel', serif; }
.field--name-field-service-column .service {
  display: flex;
  justify-content: space-between; }
.field--name-field-service-column .field--name-field-link .field__item {
  border-bottom: 1px solid #A9A9A9;
  width: 300px; }
  .field--name-field-service-column .field--name-field-link .field__item a {
    transition: 0.5s color;
    color: #808080;
    text-decoration: none;
    line-height: 60px; }
    .field--name-field-service-column .field--name-field-link .field__item a::before {
      content: '';
      display: inline-block;
      width: 16px;
      height: 16px;
      background-image: url(../images/zara.png);
      padding-right: 10px; }
    .field--name-field-service-column .field--name-field-link .field__item a:hover {
      color: red; }

.field--name-field-service-column .field--name-field-link .field__item:last-child {
  border-bottom: 0; }

@media screen and (min-width: 0px) and (max-width: 768px) {
  .paragraph--type--services {
    display: flex;
    justify-content: center; }

  .service {
    flex-direction: column;
    align-items: center; }

  .field--name-field-service-column .field--name-field-link .field__item:last-child {
    border-bottom: 1px solid #A9A9A9; } }
.laveg_wrapper {
  height: 400px;
  object-fit: cover;
  background-size: 100%; }

.paragraph--type--work-system {
  color: white; }
  .paragraph--type--work-system .field--name-field-title {
    font-size: 25px;
    font-family: 'Cinzel', serif;
    margin-bottom: 15px; }
  .paragraph--type--work-system .field--name-field-body {
    width: 500px;
    line-height: 25px;
    margin-bottom: 35px; }
  .paragraph--type--work-system .field--name-field-cta a {
    color: white;
    text-decoration: none;
    background-color: red;
    padding: 15px 30px;
    border-radius: 10px; }

@media screen and (min-width: 0px) and (max-width: 768px) {
  .laveg_wrapper {
    background-size: cover; }

  .field--name-field-laveg-wraper .field--name-field-body {
    width: auto; }

  .paragraph--type--work-system {
    padding: 20px; } }
html, body {
  height: 100%; }

.node__content {
  min-height: 100%; }

.paragraph--type--welcome-area {
  overflow: hidden;
  margin-top: 50px;
  margin-bottom: 50px; }

.paragraph--type--welcome-area img {
  margin-right: 30px;
  width: 400px;
  height: 200px;
  float: left; }

.paragraph--type--welcome-area .field--name-field-title {
  font-size: 30px;
  font-family: 'Cinzel', serif;
  margin-bottom: 20px;
  color: #808080; }

.paragraph--type--welcome-area .field--name-field-body {
  line-height: 30px;
  color: #808080; }

@media screen and (min-width: 0px) and (max-width: 768px) {
  .paragraph--type--welcome-area {
    display: flex;
    flex-direction: column;
    align-items: center; }

  .paragraph--type--welcome-area .field--name-field-body {
    padding: 20px; }

  .paragraph--type--welcome-area .field--name-field-icon img {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
